<%= form_with(model: bet, local: true) do |form| %>
  <% if bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

      <ul>
      <% bet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date, id: :bet_date %>
  </div>

  <div class="field">
    <%= form.label :fighter %>
    <%= form.text_field :fighter, id: :bet_fighter %>
  </div>

  <div class="field">
    <%= form.label :odds %>
    <%= form.text_field :odds, id: :bet_odds %>
  </div>

  <div class="field">
    <%= form.label :margin %>
    <%= form.text_field :margin, id: :bet_margin %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
